<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>Футбол, хоккей, баскетбол, теннис, бокс, Формула-1 &#150; все новости спорта на Sports.ru</title>
       
        <!-- metas -->
        <meta http-equiv="Content-Language" content="ru" />
        <meta http-equiv="Refresh" content="720; URL=http://www.sports.ru/?" />
        <meta name="copyright" content="copyright ©2007, Sports.RU" />
        <meta name="Robots" content="index, follow">
        <meta name="robots" content="all" />
        <link href="http://stg.odnoklassniki.ru/share/odkl_share.css?1" rel="stylesheet">
	<!-- links -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/parent.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/poll_export.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/popups.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/search.css')}}" />
	<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/css/miserable-browsers/internet-explorer.css" /><![endif]-->
	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/miserable-browsers/internet-explorer-6.css"/><![endif]-->
	<link rel="stylesheet" type="text/x-opera-css;charset=utf-8" href="{{url_for('static',filename='css/opera.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/promo.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/mikroblog.css')}}" />
	{% block css %}
	{% endblock %}
    </head>
    <body>
        <div id="vk_api_transport"></div>
        <div id="fb-root"></div>
                    <!--AdFox START-->
                    <!--sports.ru-->
                    <!--Площадка: sports.ru / * / *-->
                    <!--Тип баннера: Fullscreen-->
                    <!--Расположение: <верх страницы>-->
                    <script type="text/javascript">
                    <!--
                    if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
                    if (typeof(document.referrer) != 'undefined') {
                    if (typeof(afReferrer) == 'undefined') {
                    afReferrer = escape(document.referrer);
                    }
                    } else {
                    afReferrer = '';
                    }
                    var addate = new Date();
                    document.write('<scr' + 'ipt type="text/javascript" src="http://ads.adfox.ru/6902/prepareCode?pp=g&amp;ps=fsu&amp;p2=wnu&amp;pucn=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;py=a&amp;prr=' + afReferrer + '"><\/scr' + 'ipt>');
                    // -->
                    </script>
                    <!--AdFox END-->
        <div style="height:0">
            <!-- begin of Top100 code -->
            <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?44833"></script>
            <noscript>
            <img src="http://counter.rambler.ru/top100.cnt?44833" alt="" width="1" height="1" border="0" />
            </noscript>
            <!-- end of Top100 code -->
                
            <!-- tns-counter.ru -->
            <script language="JavaScript">
                    var img = new Image();
                    img.src = 'http://www.tns-counter.ru/V13a***R>' + document.referrer.replace(/\*/g,'%2a') + '*sports_ru/ru/CP1251/tmsec=sports_total/';
            </script>
            <noscript>
                    <img src="http://www.tns-counter.ru/V13a****sports_ru/ru/CP1251/tmsec=sports_total/" width="1" height="1" alt="">
            </noscript>
        </div>
        
                
        <div id="affs" align="center" style="visibility: hidden; display: none;"></div>
        <div id="overall">
                <div id="vkontakte-line" style="position: relative;z-index: 100;"></div>
                <div id="affs_content">
                    <div class="corner-banner">
                        <!--AdFox START-->
                        <!--sports.ru-->
                        <!--Площадка: sports.ru / Главная / Corner-->
                        <!--Категория: <не задана>-->
                        <!--Баннер: #347847-->
                        <!--Тип баннера: Уголок-->
                            <script type="text/javascript">
                                <!--
                                if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 1000000); }
                                if (typeof(document.referrer) != 'undefined') {
                                if (typeof(afReferrer) == 'undefined') {
                                afReferrer = escape(document.referrer);
                                  }
                                } else {
                                  afReferrer = '';
                                }
                                var addate = new Date(); 
                                document.write('<scr' + 'ipt type="text/javascript" src="http://ads.adfox.ru/6902/prepareCode?p1=cgok&amp;p2=ejor&amp;pct=a&amp;pfc=hpcl&amp;pfb=tuot&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '"><\/scr' + 'ipt>');
                                // -->
                            </script>
                            <!--AdFox END-->
                        </div>
        
                        <div id="basis">
                            <div class="top-content-corners"></div>
                            <script type="text/javascript">
                            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                            </script>
                            <script type="text/javascript">
                            var pageTracker = _gat._getTracker("UA-2190769-1");
                            pageTracker._addOrganic("Rambler","words");
                            pageTracker._addOrganic("Mail","q");
                            pageTracker._addOrganic("Nigma","q");
                            pageTracker._addOrganic("Webalta","q");
                            pageTracker._addOrganic("Aport","r");
                            pageTracker._addOrganic("Gogo","q");
                            pageTracker._initData();
                            pageTracker._trackPageview();
                            </script>
                            <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
                            </script>
                            <script type="text/javascript">
                            _uacct = "UA-3856443-1";
                            urchinTracker();
                            </script>
                            <!-- MAIN BLOCK -->
                                {% block header %}
                                    {% include "header.html" %}
                                {% endblock %}
                                
                                {% block middle %}
                                    
                                {% endblock %}
                                
                                {% block footer %}
                                    {% include "footer.html" %}
                                {% endblock %}
                            <!-- END OF MAIN BLOCK -->
                        </div>
                </div>
        </div>
        </body>
</html>
