        <div class="comment">
                <div class="title-white">
                    <div class="comment-data">
                        <p class="comment-date">
                            <a name="comment_129473103"></a>
                            <a href="/comment.html?comment_id=129473103&amp;doc_id=246210&amp;doc_class=post">{{comment.post_data}}</a>
                        </p>
                        <p class="comment-rate">
                            <span style="margin-right: 10px;" id="r_message_10"></span>
                            <span class="r-tape" id="">
                            <!-- r-tape <span> start -->
                            <span class="r-info" style="display: none; left: 5px; " id="r_info_10">
                                плюсов  - 0<br>
                                минусов - 0
                            <i></i>
                            </span>
                            <span class="r-total r-grey" id="r_out_10">&nbsp; 0</span>
                                &nbsp;
                              <a href="/rate/fuuu?type=comment&amp;id=129473103" class="signs r-minus" id="a_minus_10" onclick="return false;">&nbsp;</a>
                              <a href="/rate/plus?type=comment&amp;id=129473103" class="signs r-plus" id="a_plus_10" onclick="return false;">&nbsp;</a> 
                            </span>
    
                            <script language="javascript">
                            create_rate_ahref_observers('_10');
                            </script>
                        </p>
                    </div>
                </div>
                <div class="author">
                    <i class="lt-star"></i>
                    <i class="rt-star"></i>
                    <i class="lb-star"></i>
                    <i class="rb-star"></i>
                    <div class="avatar">
                            <a href="/profile/2768128/" title="{{comment.user_name}}"><img src="/images/object_65.1223888607.mini.jpg" alt="Василий Уткин" width="48" height="48"></a>
                    </div>
                    <div class="info">
                            <p> 
                                    <a href="/profile/{{comment.user_id}}/" title="{{comment.user_name}}">{{comment.user_name}}</a> <img src="/i/b-dot.png" alt=""> <img src="/i/b-dot.png" alt=""> <img src="/i/b-dot.png" alt=""> <img src="/i/b-dot.png" alt=""> <img src="/i/g-dot.png" alt=""> 
                            </p>
                            <p>Зарегистрирован 10 апреля 2007, написал 3836 комментариев</p>
                            <p><a href="/geo/country/1285.html" class="geo">Россия</a>, <a href="/geo/city/71711.html" class="geo">Москва</a></p>
                    </div>
                    <br class="clear">
                </div>

                <div class="text">
                    <div class="answer">Ответ пользователю <a href="/profile/7212609/" title="тимон" class="nick">тимон</a> (<a href="/comment.html?comment_id=129473065&amp;doc_id=246210&amp;doc_class=post">17 октября 18:41</a>):</div>
                    <span id="comment_text_129473103">
                        {{comment.content}}
                    </span>
                    <p id="comment_actions_129473103"></p>
                </div>
    </div>