<div class="public">
	<a href="/football/{{material.id}}.html" title="{{material.title}}"><img src="/images/object_90.1317579459.66344.jpg" alt="премьер-лига, Спартак, Зенит" title="" /></a>
	<div class="text">
		<h1><a href="/football/{{material.id}}.html" title="{{material.title}}">{{material.title}}</a></h1>
		<p>{{material.content}}</p>
	</div>
	<div class="themes">
		<p>комментарии: 
                <a href="/football/126455586.html?comments=1#comments">64</a>		<p>теги: 		<a href="/tags/1044511.html">Спартак</a> | 	<a href="/tags/1044514.html">Зенит</a>
	     </p>
	     </p>
	</div>
	<div class="materials">
		<p>материалы по теме:</p>
		<ul>
				<li><a href="/photogallery/126405166.html" class="txt">Дерби красного цвета</a> (<a href="/photogallery/126405166.html?comments=1#comments" title="12">12</a>) <span>| 2 октября 17:56</span></li>
		</ul>
	</div>
</div>
