.block
    .text
        p
          a(href='/tribuna/blogs/{{blog.name}}/', title='{{blog.title}}')
            strong {{blog.title}}
          br
          | {{blog.title}}
          br
          a(href='/tribuna/blogs/{{blog.name}}/{{blog.id}}.html', title='Intro') {{blog.desc}}
          | (
          a(href='/tribuna/blogs/{{blog.name}}/{{blog.id}}.html?comments={{blog.post_count}}#comments', title='') {{blog.post_count}}
          | )
      .photo
        a(href='/tribuna/blogs/{{blog.name}}/{{blog.id}}.html', title='{{blog.title}}')
          img(src='/storage/0000/2/2/22644105/1317631504.541789_58.jpg', alt='История Формулы-1', width='48', height='48')
      br.clear
