.block
    .text
        p
          a(href='/conference/{{conference.name}}/', title='{{conference.title}}')
            strong {{conference.title}}
          br
          | {{conference.description}}
          br
          span Обновлена 1 октября
      .photo
        a(href='/conference/{{conference.name}}/', title='')
          img(src='/images/object_95.1181650439.jpg', alt='', width='48', height='48')
      br.clear

