.footer
    .copyright
        p 1998–2011 © Sports.ru
      .cols.cols4
        .col.col1
          .col-inner
            p
              b Impressum
            ul
              li
                a(href='/docs/about.html') О Sports.ru
              li
                a(href='/docs/editors.html') Редакция
              li
                a(href='/docs/contacts.html') Контакты
              li
                a(href='/docs/vacancy.html') Вакансии
              li
                a(href='/docs/advert.html') Реклама
              li
                a(href='/docs/classified.html') Классифайдная реклама
              li
                | Sports.ru на
                a(href='http://www.facebook.com/sportsru') Facebook
              li
                | Sports.ru
                a(href='http://vkontakte.ru/club755816') Вконтакте
              li
                | Sports.ru в
                a(href='http://twitter.com/sportsru') Твиттере
            p
              b Документы
            ul
              li
                a(href='/docs/agreement.html') Пользовательское соглашение
              li
                a(href='/docs/manual.html') Как пользоваться сайтом
              li
                | Информация об ограничениях
                a(href='/docs/reuters.html') Reuters
                | ,
                a(href='/docs/afp.html') AFP
              li
                | Статистика представлена
                a(href='http://www.instatfootball.com/') ISF
                | ,
                a(href='http://scoreradar.com/') Scoreradar
            p
              b Нашли ошибку?
            ul
              li
                a(href='/conference/sports/') Конференция жалоб и предложений
              li
                a(href='mailto:support@sports.ru') Напишите нам

